@import url('https://fonts.googleapis.com/css?family=Roboto');



.web-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
   

}

body{
    margin: 0px;
    font-family: 'Roboto',sans-serif;
}

.main-top {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height:auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    gap: 30px;
}

.content-top {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: auto;
    
}

.image-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: auto;
    flex-wrap: wrap;
}

.quote-heading {
    text-align: right;
    padding-left: 400px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}



.main-top {
    background-color: #1F2937;
    font-family: her;
    padding-top: 50px;
}

a:link {
    text-decoration: none;
    color: white;

}

.navbar{
    margin: 10px;
}

.lh-top-content{
    color: white;
    padding: 10px;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-family: 'Roboto',sans-serif;
}

h2 {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.content-bottom{
    background-color: #E5E7EB;
    padding-left: 100px;
    padding-right: 100px;
}

.japan{
    border: #E5E7EB 10px;
    border-radius: 100px 50px;
    width: 600px;
    height: auto;
    flex: auto;
}

.button-sign{
    color:white;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: auto;
    font-size: 20px;
}

.information-header {
    font-size: 36px;
    font: weight 800px;
}

.image-style{
    border: 2px solid #3882f6;
    border-radius: 50px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;

    
}

.image-one, .image-two, .image-three, .image-four{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.info{

    width: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content-bottom, .sign-up{
    padding: 100px;
    font-size: 36px;
    font-weight: 100px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-sign {
    border: 1px solid #3882f6;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    padding: 0px;
    font-size: 18px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 600px;
    height: 100px;
    flex: 0 1 auto;
}

a:hover{
    color: goldenrod;
}

.footer{
    background-color: #1F2937;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}